body {
    margin: 0;
    width: 100%;
    color: white;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#all_content {

    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.pokemon_container_little {
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 255, 0.316);
    margin: 4px;
}

.id_and_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_little {
    height: 100px;
    width: 100%;
}

.actual_pokemon_type {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.actual_pokemon_type img {
    height: 50px;
    width: 50px;
}